.background{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal {
    position: fixed;
    transform: translate(-50px, -50px);
    padding: 25px;
    width: 400px;
    height: 400px;
    background-color: azure;
    border-radius: 15px;
  }
  
  .close{
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 10px;
  }

  .Buttonclose{
    background-color: #e74c3c; 
    border: none; 
    color: white;
    padding: 8px 18px;
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 12px; 
    margin: 4px 2px; 
    cursor: pointer; 
    border-radius: 10px; 
  }

  