.product-card {
  margin: 20px;
  display: flex;
  border: 2px solid #16284d;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 115px;
}

.product-image-container, .product-details {
  width: 200px;
  text-align: center;
  border-right: 1px solid #16284d;
}

.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-details {
  flex: 1;
  border-left: 2px solid #16284d;
  position: relative;
}

.product-details table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: -20px; 
}


.product-details th,
.product-details td {
  border-left: 2px solid #16284d;
  border-right: 2px solid #16284d;
  border-bottom: 1px solid #16284d;
  padding: 10px;
}

.product-details td {
  border-left: 2px solid #16284d;
  border-right: 2px solid #16284d;
  border-bottom: 1px solid #16284d;
  padding: 30px;
  border-bottom: none
}


.product-details th {
  background-color: #f8f8f8;
  text-align: left;
  font-weight: bold;
  
}

.product-details th:first-child,
.product-details td:first-child {
  border-left: none;
}

.product-details th:last-child,
.product-details td:last-child {
  border-right: none;
}

.button-container {
  display: flex;
  justify-content: space-around;
}
.edit-button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #0056b3;
}
.delete-button {
  background-color: #db3434;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #b30000;
}